<div class="row">
    <div class="col-md-3">
        <img [src]="product.imgUrl" alt="Product image">
    </div>
    <div class="col-md-9">
        <h5>
            {{ product.title }}
            <span class="badge badge-success">{{ product.price }} $</span>
            <button class="btn btn-sm btn-primary" (click)="navigateToProductForm(product.id)">Edit</button>
        </h5>
        <p>
            <span class="badge badge-secondary" *ngFor="let category of product.categories">{{ category.title }}</span>
        </p>
        <p *ngIf="product.uploader">Uploader: {{ product.uploader.firstName }} {{ product.uploader.lastName }}</p>
        <p>{{ product.description }}</p>
    </div>
</div>