<div class="row">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <form [formGroup]="productForm">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <div class="text-danger" *ngIf="title.invalid && (title.dirty || title.touched)">
                <small>Title is required.</small>
            </div>
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <div class="text-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
                <small>Price should be under 1000 $.</small>
            </div>
            <label for="imgUrl">Image URL</label>
            <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
            <div class="text-danger" *ngIf="imgUrl.invalid && (imgUrl.dirty || imgUrl.touched)">
                <small>URL should be a valid URL.</small>
            </div>
            <label for="uploader">Uploader</label>
            <select class="form-control" name="uploader" id="uploader" formControlName="uploader"
                [compareWith]="compareUsers">
                <option [ngValue]="user" *ngFor="let user of users">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <label for="categories">Categories</label>
            <select class="form-control" name="categories" id="categories" multiple formControlName="categories"
                [compareWith]="compareCategories">
                <option [ngValue]="category" *ngFor="let category of categories">{{ category.title }}</option>
            </select>
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" formControlName="brand">
            <button class="btn btn-primary mt-2" (click)="addProduct()">Save product</button>
        </form>
    </div>
</div>