<div class="row">
    <div class="col-md-6">
        <form [formGroup]="productForm">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" formControlName="id">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" formControlName="price">
            <label for="imgUrl">Image URL</label>
            <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" formControlName="brand">
            <button class="btn btn-primary mt-2" (click)="addProduct()">Add product</button>
        </form>
    </div>
</div>