<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Source code version</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 font-weight-bold">
      Version {{major}}.{{minor}}.{{patch}}
    </div>
  </div>
  <app-control (majorIncremented)="incrementMajor()" (minorIncremented)="incrementMinor()"
    (patchIncremented)="incrementPatch()"></app-control>
  <div class="row">
    <div class="col-md-12">
      <h5>Changelog:</h5>
      <app-changelog [changelog]="changelog"></app-changelog>
    </div>
  </div>
</div>