<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Should mankind colonize the Universe?</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Agree: {{ agreeCount }}, Disagree: {{ disagreeCount }}.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let person of people; let i = index">
        <h5>{{person.name}}</h5>
        <button class="btn btn-sm btn-success" (click)="vote(i, true)" [disabled]="person.voted">Agree</button>
        <button class="btn btn-sm btn-danger" (click)="vote(i, false)" [disabled]="person.voted">Disagree</button>
      </div>
    </div>
  </div>
</div>