<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Source code version</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 font-weight-bold">
      Version {{major}}.{{minor}}.{{patch}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-sm btn-danger" (click)="incrementMajor()">New major version</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-primary" (click)="incrementMinor()">New minor version</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-success" (click)="incrementPatch()">New patch version</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Changelog:</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li *ngFor="let entry of changelog">
          {{entry.type}} has been incremented from {{entry.old}} to {{entry.new}}
        </li>
      </ul>
    </div>
  </div>
</div>