<div class="row mt-2">
    <div class="col-md-7">
        <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Type a product title ...">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h5>Products</h5>
        <div class="row">
            <div class="col-md-6" *ngFor="let product of products">
                <app-product [product]="product"></app-product>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>Shopping Cart</h5>
        <app-shopping-cart></app-shopping-cart>
    </div>
</div>

